body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/*----------- ----------- */

/*----------- HEADER----------- */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}
.logo-header {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* padding: 24px 0; */
    padding: 16px 0;
    display: block;
}

.logo-header-accent {
    color: #2e2f42;
}
.menu {
    /* display: flex; */
    display: none;
    /* flex-wrap: wrap; */
    justify-content: flex-end;
    flex-basis: 261px;
    gap: 40px;
    margin-right: 0;
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em
}
.submenu {
    padding: 24px 0;
}

.menu-link {
    color:#2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.current {
    position: relative;
}

.menu-link.current::after {
content: '';
width: 100%;
height: 4px;
position: absolute;
left: 0;
bottom: -1px;
background-color: #404bbf;
border-radius: 2px;
}

.address-menu {
    display: flex;
    gap: 40px;
    
}

.address {
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:#434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address:hover, .address:focus, .menu-link.current, .menu-link:hover,
.menu-link:focus, .menu:hover,
.menu:active {
    color: #404bbf;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
    cursor: pointer;
}

/* Mobile menu */

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
    padding: 24px 0px;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
        
}

.mob-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.mob-menu-close {
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #fff;
    padding: 0;
    cursor: pointer;
    margin-bottom: 24px;
    flex-shrink: 0;
}

.mob-menu-close:hover, .mob-menu-close:focus {
    background-color: #e7e9fc;
}

.mob-menu-close-icon {
    fill: #2e2f42;
}

.mob-menu-list {
    /* margin-bottom: 168px; */
}

.mob-submenu:not(:last-child) {
    margin-bottom: 40px;
}

.mob-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    color: #404bbf;
}

.mob-menu-link:hover, .mob-menu-link:focus {
    color: #404bbf;
}

.mob-address-menu {
    margin-bottom: 48px;
    margin-top: auto;
}

.mob-address {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-address-item:not(:last-child) {
    margin-bottom: 24px;
}
.mob-tel {
    color: #4d5ae5;
}

.mob-address:hover, .mob-address:focus {
    color: #404bbf;
}
.mob-social-icons-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    width: 280px;
}

.mob-social-item {
    
}

.mob-social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-link:hover, .mob-social-link:focus {
    background-color: #404bbf;
}

.social-icon {
    fill: #fff;
}

/*----------- ----------- */

/*----------- HERO----------- */
.hero {
    padding: 72px 0;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/mob-bg-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    min-height: 432px;
    display: flex;
    align-items: center;
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/mob-bg-2x.jpg);
    }
}

.hero-title {
font-weight: 700;
    letter-spacing: 0.02em;
    color: #fff;
    /* max-width: 496px; */
    /* margin: 0 auto; */
    text-align: center;
    /* margin-bottom: 48px; */
        font-size: 36px;
        line-height: 111%;
        max-width: 216px;
        margin: 0 auto;
        margin-bottom: 72px;
}

.button {
    font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #fff;
        background-color: #4d5ae5;
        text-align: center;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
        display: block;
        border: none;
        border-radius: 4px;
        min-width: 169px;
        margin: 0 auto;
        padding: 16px 32px;
        height: 56px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus, .subscribe-btn:hover, .subscribe-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}
/*----------- ----------- */

/*----------- VALUES----------- */

.values {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.values-icons-cont {
    display: none;
    /* width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px; */
}

.values-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.values-item {
/* width: calc((100% - 72px) / 4); */
width: 100%;
}

.values-title {
/* font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     */

    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.values-text {
    /* font-weight: 400; */

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}



/*----------- ----------- */

/*----------- TEAM----------- */
.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-members {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.team-item {
    background-color: #FFFFFF;
    /* width: calc((100% - 72px) / 4); */
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-member-info {
    padding: 32px 0;
}

.team-member-name {
    font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color:#2e2f42;
        margin-bottom: 8px;
        text-align: center;
}
.team-member-position {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: center;
        margin-bottom: 8px;
}

.social-icon {
    fill: #f4f4fd
}

.social-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.team-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover, .team-social-link:focus {
background-color: #404bbf;
}

.team-social-item {
    width: 40px;
        height: 40px;
}


/*----------- ----------- */

/*----------- PORTFOLIO----------- */
.portfolio {
    padding: 96px 0;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    /* column-gap: 24px;
    row-gap: 48px; */
    gap: 48px;
}

.portfolio-item {
    /* width: calc((100% - 48px) / 3); */
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
}

.portfolio-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-examples {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
}

.portfolio-item:hover .overlay {
    transform: translateY(0%);
}

       

/*----------- ----------- */

/*----------- FOOTER----------- */
.footer {
    background-color: #2e2f42;
    /* padding: 100px 0; */
    padding: 96px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    text-align: center;
}

.footer-info-cont {
    /* margin-right: 120px */
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    /* display: inline-block; */
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    /* padding: 0 86px; */
}

.logo-footer-accent {
    color:#f4f4fd;
}
.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        background-color: #2e2f42;
        /* max-width: 264px; */
        max-width: 288px;
        /* margin-bottom: 72px; */
        text-align: left;
}

.footer-text-soclinks {
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-soclinks-list {
    display: flex;
    gap: 16px;
}


.footer-soclink {
    width: 40px;
    height: 40px;
}

.client-social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-social-link:hover, .client-social-link:focus {
background-color: #31d0aa;
}

.footer-form-cont {
/* margin-left: 80px; */
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.subscribe-btn {
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover, .subscribe-btn:focus {
    background-color: #404BBF;
    cursor: pointer;
}

.footer-input {
    border: 1px solid #fff;
    /* width: 264px; */
    width: 288px;
    height: 40px;
    background-color: transparent;
    padding: 8px 16px;
    outline: none;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    border-radius: 4px;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-input::placeholder {
    font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #ffffff;
}

.footer-input:focus {
font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 24px; */
}


.send-icon {
    fill: #fff;
    margin-left: 16px;
}

/* modal */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-close-btn {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:focus .modal-close-icon {
fill: #ffffff;
}

.modal-close-btn:hover .modal-close-icon {
    fill: #ffffff;
}
.modal-close-btn:focus, .modal-close-btn:hover {
background-color: #404bbf;
border: none;
}

.modal-title {
font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-item {
margin-bottom: 8px;
}

.input-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    display: block;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 11px;
    padding-left: 38px;
    height: 40px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    opacity: 0.5;
}

.modal-input-item {
margin-bottom: 8px;
position: relative;
}

.modal-input:hover, .modal-input:focus, .modal-input:focus-within, .modal-comment:focus, .modal-comment:hover {
    border: 1px solid #4d5ae5;
    outline: transparent;
    border-color: #4D5AE5;
}

.modal-input:focus-within + .modal-icon, .modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-icon {
    fill: #2e2f42;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-wrap {
margin-bottom: 16px;
}

.modal-comment {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    height: 120px;
    width: 100%;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    resize: none;
    /* margin-bottom: 16px; */
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
}

.checkbox {
margin-bottom: 24px;
}

.modal-check-text {
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;  
    display: flex;
    justify-content: center;
    align-items: center;  
}

.check-span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    flex-shrink: 0;
}

.modal-check:checked + .modal-check-text .check-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.privacy-link {
color: #4d5ae5;
text-decoration: underline;
}

.submit-btn {
    font-family: "Roboto", sans-serif;
    margin-top: 24px;
    border-radius: 4px;
    border-color: #4d5ae5;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    /* margin-left: 97px; */
    border: none;
    display: block;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.submit-btn:hover, .submit-btn:focus {
    background-color: #404bbf;
}

@media screen and (min-width: 768px) {

    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }

    /* header */

        .logo-header {
            margin-right: 120px;
            padding: 24px 0;
        }
    
        .burger-btn {
            display: none;
        }
    
        .menu {
            display: flex;
        }
    
        .address {
            display: block;
            font-size: 12px;
            line-height: 117%;
            letter-spacing: 0.04em;
        }
    
        .address-menu {
            gap: 12px;
            flex-direction: column;
        }

                .mob-menu {
                    display: none;
                }
    
        /* hero */
    
    .hero {
            padding: 112px 0;
            max-width: 768px;
            min-height: 436px;
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/tab-bg-1x.jpg);
        }
    
        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx),
        (min-resolution: 192dpi) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/hero/tab-bg-2x.jpg);
            }
        }

        .hero-title {
                font-size: 56px;
                line-height: 107%;
                max-width: 496px;
                margin-bottom: 36px;
        }

    /* values */

    .values-item {
        width: calc((100% - 24px) / 2);
    }

    .values-list {
        gap: 72px 24px;
    }

    .values-title {
        text-align: left;
    }

    /* team */

    .team-members {
        gap: 64px 24px;
    }

    .team-item {
        /* width: calc((100% - 24px) / 2); */
    }

    /* portfolio */

    .portfolio-list {
        gap: 72px 24px;

    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    /* footer */

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        padding-right: 108px;
        padding-left: 108px;
        align-items: baseline;
        text-align: left;
    }

    .footer-info-cont {
        align-items: flex-start;
    }

    .logo-footer {
            padding: 0;
        }

    .footer-text {
        max-width: 264px;
    }

        .subscribe-text {
            padding: 0;
        }

        .footer-text-soclinks {
            padding: 0;
    }

    .footer-soclinks-list {
        margin-bottom: 0;
    }

    .footer-form-cont {
        align-items: flex-start;
    }

    .footer-form {
        flex-direction: row;
        gap: 24px;
        align-items: baseline;
    }

    .footer-input {
        width: 264px;
        margin-bottom: 0;
    }

/* modal */

.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}

.modal-check-text {
    justify-content: flex-start;
}
}

@media screen and (min-width: 1158px) {

    .container {
        width: 1158px;
        padding: 0 15px;
    }

    /* header */

    .logo-header {
    margin-right: 76px; 
    }

    .address-menu {
        gap: 40px;
        flex-direction: row;
        align-items: center;
    }

        .address {
            font-size: 16px;
            line-height: 150%;
            letter-spacing: 0.02em;
            padding: 24px 0;
        }

        /* hero */

    .hero {
        padding: 188px 0;
        max-width: 1440px;
        min-height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/web-bg-1x.jpg);
    }
        
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/hero/web-bg-2x.jpg);
        }
    }
    
    .hero-title {
    margin-bottom: 48px;
    }
        
        
        
    /* values */

    .values-icons-cont {
        display: flex;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
    }

    .values-item {
        width: calc((100% - 72px) / 4);
    }

    .values-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .values-text {
        font-weight: 400;
    }

    .team {
        padding: 120px 0;   
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .portfolio {
        padding: 120px 0;
    }

    .portfolio-list {
        column-gap: 24px;
        row-gap: 48px;

    }

    .portfolio-item {
        width: calc((100% - 48px) / 3);
    }

        /* footer */

    .footer-container {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
    }

    .footer {
    padding: 100px 0;
    }

   .footer-info-cont {
       margin-right: 120px;
   }

   .footer-text {
       min-width: 264px;
   }

    .footer-input {
        width: 264px;
        opacity: 1;
    }

    .footer-form {
        gap: 24;
    }

    .footer-soclinks {
        margin-right: 80px;
    }
}